name: calcium_editor
description: "A visual programming editor to learn Python"
publish_to: 'none'
version: 0.2.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
