html,
body,
#editor {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#menu {
  z-index: 9999;
  height: 40px;
}
.line {
  width: 24px;
  height: 4px;
  background-color: lightsalmon;
  margin-top: 2px;
  margin-bottom: 2px;
}
#file-button {
  width: 40px;
  height: 32px;
  cursor: pointer;
  padding-top: 12px;
  padding-left: 8px;
}
#run-button {
  height: 36px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  align-content: center;
  color: white;
  background-color: dodgerblue;
  border-radius: 8px;
}
#help-button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  text-align: center;
  align-content: center;
  font-weight: bold;
  color: white;
  background-color: pink;
  border-radius: 16px;
}
