html,
body,
#editor {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 48px);
}
html,
body {
  height: 100%;
}
#menu {
  z-index: 9999;
  height: 40px;
}
.line {
  width: 24px;
  height: 4px;
  background-color: lightsalmon;
  margin-top: 2px;
  margin-bottom: 2px;
}
#file-button {
  width: 40px;
  height: 32px;
  cursor: pointer;
  padding-top: 12px;
  padding-left: 8px;
}
#run-button {
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  align-content: center;
  color: white;
  border-radius: 8px;
}
.enabled-run-button {
  background-color: dodgerblue;
  cursor: pointer;
}
.disabled-run-button {
  background-color: lightgray;
  cursor: default;
}
#help-button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  text-align: center;
  align-content: center;
  font-weight: bold;
  color: white;
  background-color: pink;
  border-radius: 16px;
}
#file-dialog {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 48px);
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.95);
}
#file-dialog-back-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: lightsalmon;
  text-align: center;
  align-content: center;
  font-weight: bold;
  color: white;
  margin-left: 4px;
  margin-top: 4px;
  border-radius: 8px;
}
#file-dialog-add-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  align-content: center;
  font-weight: bold;
  color: black;
  margin-left: 4px;
  margin-top: 4px;
  border-radius: 8px;
}
#file-dialog-file-list {
  padding-left: 8px;
  overflow-y: auto;
}
.file-dialog-file-item {
  cursor: pointer;
}
#runtime-dialog {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: white;
}
#runtime-dialog-close-button {
  margin-top: 6px;
  height: 36px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  align-content: center;
  color: black;
  background-color: orange;
  border-radius: 8px;
}
#runtime-output-area {
  width: 100%;
  min-height: 200px;
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 14px;
  overflow-y: scroll;
}
#runtime-error-area {
  width: 100%;
  color: red;
  font-family: monospace;
  font-size: 14px;
  padding: 8px;
}
#runtime-input-field {
  width: 60%;
  margin: 8px;
  padding: 8px;
  font-family: monospace;
  font-size: 14px;
}
#runtime-input-button {
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  align-content: center;
  color: white;
  border-radius: 8px;
}
.runtime-input-button-enabled {
  background-color: lightseagreen;
  cursor: pointer;
}
.runtime-input-button-disabled {
  background-color: lightgray;
  cursor: default;
}
