html,
body,
#editor {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 48px);
}
html,
body {
  height: 100%;
}
#menu {
  z-index: 9999;
  height: 40px;
}
.line {
  width: 24px;
  height: 4px;
  background-color: lightsalmon;
  margin-top: 2px;
  margin-bottom: 2px;
}
#file-button {
  width: 40px;
  height: 32px;
  cursor: pointer;
  padding-top: 12px;
  padding-left: 8px;
}
#run-button {
  height: 36px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  align-content: center;
  color: white;
  background-color: dodgerblue;
  border-radius: 8px;
}
#help-button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  text-align: center;
  align-content: center;
  font-weight: bold;
  color: white;
  background-color: pink;
  border-radius: 16px;
}
#file-dialog {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 48px);
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.95);
}
#file-dialog-back-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: lightsalmon;
  text-align: center;
  align-content: center;
  font-weight: bold;
  color: white;
  margin-left: 4px;
  margin-top: 4px;
  border-radius: 8px;
}
#file-dialog-add-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  align-content: center;
  font-weight: bold;
  color: black;
  margin-left: 4px;
  margin-top: 4px;
  border-radius: 8px;
}
#file-dialog-file-list {
  padding-left: 8px;
  overflow-y: auto;
}
.file-dialog-file-item {
  cursor: pointer;
}
